* {
  --color-blanco-grisaseo: #f2f2f2;
  --color-gris-suave: #d9d9d9;
  --color-gris-medio: #bfbfbf;
  --color-gris-oscuro: #6C757D;
  --color-gris-mas-oscuro: #3d3d3d;
  --color-azul-oscuro:#233D4D;

  --font-weight-uno: 400;
  --font-weight-dos: 600;

  --padding-separacion-contenedores: 40px;
}

body {
  background-color: var(--color-blanco-grisaseo);
}
/* HEADER */
header{
  background-color: var(--color-azul-oscuro);
}
.contenedor-titulo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 30px 24px;
  max-width: 390px;
}
.titulo {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-dos);
  text-align: center;
  color: var(--color-blanco-grisaseo);
  margin: 0px;
}
.titulo::before{
  content: "Bienvenido a Casa de Cambio XYZ";
}

/* INICIO */

.contenedor-subtitulo {
  display: flex;
  margin: auto;
  max-width: 450px;
  padding: 40px 24px;
}
.subtitulo {
  font-family: Source Sans Pro, Arial, sans-serif;
  text-align: center;
  color: var(--color-azul-oscuro);
}
.contenedor-botones {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px 24px;
  max-width: 375px;
}
.botones-conversion {
  font-size: 16px;
  font-weight: 500;
  margin: 8px;
  height: 55px;
  border-radius: 6px;
}
.botones{
  background-color: var(--color-azul-oscuro);
}

/* SOBRE NOSOTROS */

.sobre-nosotros {
  margin: 100px 0;
}
.contenedor-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 25px 24px;
}
.contenedor-informacion-sobre-nosotros-uno{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 24px;
  padding-bottom: 38px;
}
.contenedor-informacion-sobre-nosotros-dos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 24px;
  padding-top: 38px;
}
.titulo-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 50px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-dos);
  text-align: center;
  color: var(--color-azul-oscuro);
}
.titulo-seccion-sobre-nosotros{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-dos);
  text-align: center;
  color: var(--color-azul-oscuro);
}
.descripcion {
  display: flex;
  font-family: Source Sans Pro, Arial, sans-serif;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0px;
  max-width: 400px;
  color: var(--color-azul-oscuro);
}
.descripcion-sobre-nosotros{
  display: flex;
  font-family: Source Sans Pro, Arial, sans-serif;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0px;
  max-width: 400px;
  color: var(--color-azul-oscuro);
}

/* CONVERSOR DE DIVISAS */

.contenedor-botones-conversion,
.contenedor-boton-divisa-cambios{
  display: flex;
  margin: auto;
  padding: 15px 0;
  max-width: 300px;
}
.contenedor-boton-divisa-cambios{
  flex-direction: column;
  padding-bottom: 0px;
}
.contenedor-input {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  padding-bottom: 0px;
  max-width: 300px;
}
.lista-monedas,
select.lista-monedas-selectores {
  max-height: 230px;
  overflow: auto;
}
.divisa-elegida {
  min-width: 69.99px;
  max-width: 69.99px;
}
.contenedor-icono-conversion {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 300px;
}
.icono-conversion {
  font-size: 40px;
  color: var(--color-azul-oscuro);
}
.contenedor-respuesta-conversion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.respuesta-conversion::before {
  content: "-";
  color: var(--color-blanco-grisaseo);
  width: 223px;
  height: 24px;
}
.respuesta-valor-divisa-usuario::before {
  content: "-";
  color: var(--color-blanco-grisaseo);
  width: 223px;
  height: 24px;
}
.respuesta-conversion,
.respuesta-valor-divisa-usuario {
  font-family: Source Sans Pro, Arial, sans-serif;
  padding: 5px 0;
  margin: auto;
  max-width: 500px;
}
.contenedor-boton-convertir {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px 24px;
  max-width: 375px;
}

/* CAMBIOS DIVISAS */

#cambios-de-divisas {
  margin: 80px 0;
}
.contenedor-titulo-cambios {
  display: flex;
}
.titulo-cambios {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-dos);
  text-align: center;
  color: var(--color-azul-oscuro);
}
.contenedor-tabla-cambios {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 375px;
}
.tablero {
  margin: 25px 0;
}
.fila {
  text-align: center;
  padding: 25px;
}
.columna {
  border-bottom: 1px solid var(--color-gris-medio);
  padding: 25px;
  color: var(--color-azul-oscuro);
}
.columna-titulo{
  color: var(--color-blanco-grisaseo);
}
.valor-divisa {
  text-align: end;
}
.fecha-cambio {
  text-align: end;
}
.fila-titulos-tabla{
  background-color: var(--color-azul-oscuro);
  color: #FFFF;
}
.contenedor-boton-cambios{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px 24px;
  max-width: 375px;
}
.columna-agregar-divisa{
  padding-top: 0;
  padding-bottom: 0;
}
.contenedor-icono-agregar-divisa{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 67px;
}
.icono-agregar-divisa{
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}
.icono-agregar-divisa:hover{
  font-size: 35px;
  transition-duration: 0.5s;
}
.columna-boton-agregar-divisa{
  padding-left: 0;
  padding-right: 0;
}

/* FOOTER */

footer{
  display: grid;
  justify-content: center;
  justify-items: center;
  height: 115px;
  background-color: var(--color-azul-oscuro);
  color: white;
}
.contenedor-creditos{
  margin-top: 16px;
}
.contenedor-creditos p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.contenedor-redes{
  display: flex;
  flex-direction: row;
}
.github{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
}
.link-github{
  color: inherit;
  text-decoration: none;
}
.icono-github{
  font-size: 40px;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 650px){
  .inicio{
    padding-top: 50px;
  }
  header{
    display: flex;
    align-items: center;
  }
  .contenedor-titulo{
    max-width: 640px;
  }
  .contenedor-subtitulo {
    max-width: 550px;
    font-size: 17px;
    padding: 40px 24px;
  }
  .botones-conversion{
    height: 70px;
  }
  .descripcion-sobre-nosotros{
    max-width: 550px;
    font-size: 17px;
  }
  .descripcion {
    max-width: 550px;
    font-size: 17px;
  }
}

@media (min-width: 800px) {
  .titulo::before{
    content: "";
  }
  .titulo::after{
    content: "Casa de cambio XYZ";
    font-size: 55px;
  }
  .subtitulo {
    font-size: 20px;
  }
  .descripcion-sobre-nosotros{
    font-size: 20px;
  }
  .descripcion {
    font-size: 20px;
  }
  .titulo-seccion{
    font-size: 36px;
  }
}
